<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <!-- Add these new meta tags and link -->
    <meta name="theme-color" content="#ffffff" />
    <link rel="manifest" href="{{ '/manifest.json' | relative_url }}" />
    <link
      rel="apple-touch-icon"
      href="{{ '/assets/images/icon-192x192.png' | relative_url }}"
    />
    <!-- Netlify Identity Widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- Existing content -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/recipe-styles.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ site.baseurl }}/assets/images/favicon2.png"
    />
  </head>
  <body>
    <header>
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </header>
    <main>{{ content }}</main>
    <!-- Add this script tag at the end of the body -->
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker.register(
            '{{ "/service-worker.js" | relative_url }}'
          );
        });
      }

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
