---
layout: default
---

<article class="recipe-content">
  <a href="javascript:history.back()" class="back-button">Go Back</a>
  <h1>{{ page.title }}</h1>

  {% if page.photo %}
  <img
    src="{% if page.photo %}{% if page.photo contains 'http://' or page.photo contains 'https://' %}{{ page.photo }}{% else %}{{ site.baseurl }}/{{ page.photo }}{% endif %}{% endif %}"
    alt="{{ page.title | escape }}"
  />
  {% endif %}
  <div class="recipe-description">
    {{ content }}
    <!-- This line renders the Markdown content -->
  </div>
  <h2>Ingredients</h2>
  <ul>
    {% for ingredient in page.ingredients %}
    <li>{{ ingredient }}</li>
    {% endfor %}
  </ul>
  <h2>Instructions</h2>
  <ol>
    {% for instruction in page.instructions %}
    <li>{{ instruction }}</li>
    {% endfor %}
  </ol>
</article>
